{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="body-wrapper">
  <div class="container-fluid">
    <div class="card card-body py-3">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="d-flex align-items-center justify-space-between">
            <nav aria-label="breadcrumb" class="">
              <ol class="breadcrumb">
                <li class="breadcrumb-item d-flex align-items-center">
                  <a class="text-muted text-decoration-none d-flex" href="/">
                    <iconify-icon icon="solar:home-2-line-duotone" class="fs-6"></iconify-icon>
                  </a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                  <a href="/Product">
                  <span class="badge fw-medium fs-2 bg-primary-subtle text-primary">
                    Product
                  </span></a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                  <span class="badge fw-medium fs-2 bg-primary-subtle text-primary">
                    Add Product
                  </span>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="px-4 py-3 border-bottom">
            <h4 class="card-title mb-0">Add Product</h4>
          </div>
          <form class="card-body p-4" method="post" id="formAdd">
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-4">
                  <label for="exampleInputProductName" class="form-label">Product Name</label>
                  <input type="text" class="form-control" id="exampleInputProductName" name="ProductName" placeholder="Party Name">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-4">
                  <label class="form-label">Product Tax</label>
                  <select class="form-select" name="Tax" aria-label="Default select example">
                    <option selected>--select--</option>
                    <option value="5">5%</option>
                    <option value="12">12%</option>
                    <option value="18">18%</option>
                    <option value="28">28%</option>
                    <option value="TaxFree">Tax Free</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-4">
                  <label class="form-label">Category</label>
                  <select class="form-select" name="Category" tabindex="1">
                    <option value="" selected>-- Selet --</option>
                    {% for i in Category %}
                    <option value="{{i.Category}}">{{i.Category}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-4">
                  <label class="form-label">SubCategory</label>
                  <select class="form-select" id="SubCategory" name="SubCategory" tabindex="1">
                    <option class="after" value="">--Select--</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-4">
                  <label class="form-label">Product Unit</label>
                  <select class="form-select" name="Unit" aria-label="Default select example">
                    <option selected>--select--</option>
                    <option value="KG">KG</option>
                    <option value="GM">GM</option>
                    <option value="PC">PC</option>
                    <option value="LIT">LIT</option>
                    <option value="Box">Box</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-4">
                  <label for="exampleInputprice" class="form-label">Purchase Price</label>
                  <input type="number" class="form-control" id="exampleInputprice" name="PurchasePrice">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-4">
                  <label for="exampleInputmrp" class="form-label">MRP</label>
                  <input type="number" class="form-control" id="exampleInputmrp" name="MRP">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-4">
                  <label for="exampleInputprice" class="form-label">Salse Price</label>
                  <input type="number" class="form-control" id="exampleInputprice" name="SalsePrice">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-4">
                  <label for="exampleInputMinQty" class="form-label">Min Qty</label>
                  <input type="number" class="form-control" id="exampleInputMinQty" name="MinQty">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-4">
                  <label for="exampleInputMaxQty" class="form-label">Max Qty</label>
                  <input type="number" class="form-control" id="exampleInputMaxQty" name="MaxQty">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="mb-4">
                  <label for="exampleInputBarcode" class="form-label">Barcode No.</label>
                  <input type="text" class="form-control" id="exampleInputBarcode" name="Barcode" placeholder="Barcode No.">
                </div>
              </div>
              <div class="col-12">
                <div class="d-flex justify-content-end gap-3">
                  <button class="btn btn-primary" type="submit">Submit</button>
                  <a class="btn bg-danger-subtle text-danger" href="/Product">Cancel</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block script %}
<script src="{% static 'assets/js/jquery-3.7.1.js' %}"></script>
<script>
  $("#formAdd select[name='Category']").on('change', function(){
    var $this = $(this);
    if($this.val() !=''){
        $("#formAdd select[name='SubCategory']").find('.after').nextAll().remove();
        $.ajax({
            url: '/SCategory/'+$this.val(),
            type: 'GET',
            success: function(resp){
                let options = '';
                resp.Sc.forEach(Sc => {
                    options+='<option value='+Sc+'>'+Sc +'</option>';
                });
                $("#formAdd select[name='SubCategory']").find('.after').after(options);
            }, 
            error: function(resp){
                console.log('Something went wrong');
            }
        });
    }else{
        $("#formAdd select[name='SubCategory']").find('.after').nextAll().remove();
    }
   });
</script>
{% endblock script %}